/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px / 16px = 62.5% -> 1rem = 10px */
}

/* Global */
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #e1e1e1;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  background-color: rgba(0, 0, 0, 0.95);
  border: 3px solid rgba(105, 29, 6, 0.95);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}
